<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ClassroomScreenToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ClassroomScreenToolBox.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerColorRGB" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TimerWaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerWave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopWatchWave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdownMsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdownMsgTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerWaveTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayMatterTime" serializeAs="String">
                <value>2023-06-26</value>
            </setting>
            <setting name="Saying" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerColorTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerRing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShutdownPinlv" serializeAs="String">
                <value>每天</value>
            </setting>
            <setting name="DayMatterOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DayMatterEvent" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoShutdownTimeHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoShutdownTimeMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayMatterEventLib" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>期中考试</string>
                        <string>期末考试</string>
                        <string>中考</string>
                        <string>高考</string>
                        <string>放假</string>
                        <string>运动会</string>
                        <string>自招考试</string>
                        <string>毕业</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WaveFileList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>1.wav</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ClassroomScreenToolBox.Properties.Settings>
    </userSettings>
<appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
</appSettings>
</configuration>
